$teal:#61B2AA;
$blue:#5288DF;
$yellow:#FFC565;
$purple:#978FDC;
$darkPurple:#85809E;
$purpleFade:#FAF9FF;
//$peach:#A9BB55;
$green:#A9BB55;
$tealLight:#EFF8FA;
$blueLight:#F2F7FF;
$yellowLight:#FCF8ED;
$purpleLight:#F4F3FA;
$peachLight:#FFF8F8;
$peach:#FFB3B4;

$greyLight:#F9FBFC;
$white:#FFFFFF;
$softBlue:#79D8FF;
$lightPeach:#FEF6F6;
$yellow:#FFC059;

$dHeadingBig:#292930;
$dParagraph:#515151;
$lParagraph:#7C808A;





